---
import Layout from '@layouts/Layout.astro'
const pageTitle= "Page not found"
---
<Layout pageTitle={pageTitle}>
	<div class="wrapper mt4 mb4">
		<h1>Page Not Found</h1>
		<p>Not found!</p>
	</div>
</Layout>