---
import logo from "../images/logo.png"
const {
	title = "John Koelle Piano",
	description = "John Koelle Piano Technician",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href={logo.src}/>
<title>{title}</title>