---
import Styles from "./styles.module.scss";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
---

<div class="mt-5 py-3">
    <div class="container col-sm-8">
        <div>
            <div class="row">
                <div class="col-sm-4">
                    <div class={Styles.footer}>
                        <h3>Contact</h3>
                        <p>©John Koelle Pianos</p>
                        <p>
                            <a href="tel:+18473365919">+1 (847) 336-5919</a>
                        </p>
                        <p>
                            <a href="mailto:JKoelle@aol.com">JKoelle@aol.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class={Styles.footer}>
                        <h3>Menu</h3>
                        <ul id="menu-footer-menu" class="">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/history-koelle-piano/">Biography</a>
                            </li>
                            <li>
                                <a href="/pianos-for-sale/">Pianos for Sale</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class={Styles.footer}>
                        <h3>Contact</h3>
                        <p>
                            Our restorations are a combination of master
                            woodworking skills, along with artful craftsmanship
                            and precision accuracy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src={bootstrap}></script>
