.footer h3 {
	color: #9F1F1B;
	font-family: 'ACaslonBold';
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid #9F1F1B;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li {
    list-style: none;
}
.footer ul li a {
    color: #000;
    transition: all .3sease;
	text-decoration: none;
}
.footer p {
	margin-bottom: .3rem;
 
}
.footer p a {
	color: #9F1F1B;
	text-decoration: none;
}