
.header_text {
    text-align: center;
    padding: 100px 0;
    color: #fff;
}

.header_text p {
    font-size: 31px;
    text-shadow: 0 0 8px #000;
}

.infoContainer {  
    background-color:rgba(61, 44, 0, 0.5);
}