---
import "bootstrap/dist/css/bootstrap.css";
import { Breadcrumb } from "astro-bootstrap";
import Nav from "../components/Nav/index.astro";
import Footer from "../components/Footer/index.astro";
import MainHead from "../components/MainHead.astro";
import "bootstrap/dist/css/bootstrap.css";
import "./styles.module.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<MainHead />
	</head>
	<body>
		<Nav />
		<div class="container-fluid d-flex justify-content-center">
			<div class="col-sm-8 text-lef">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
